// $dark-green: #519548;
// $light-green: #88C425;
// $yellow: #e5b718;
// $cream: rgba(234, 253, 230, .8);
// $cream-not: rgba(234, 253, 230, .8);


$dark-green: #AB3E5B;
$light-green: #B3CC57;
$yellow: #e5b718;
$cream: rgba(236, 240, 129, .8);
$cream-not: rgba(236, 240, 129, 1);

$dark-green: #607848;
$light-green: #C0D860;
$button: #604848;
$yellow: #e5b718;
$cream: rgba(240, 240, 216, .8);
$cream-not: rgba(240, 240, 216, 1);
// rgba(254, 228, 173, 1);

$light-grey: #b1aeae;
$dark-grey: #524c4c;
