.listSideBar{
  font: $basic;

  height: 100vh;
  width: 195px;
  padding-left: 10px;
  padding-right: 20px;
  font-family: $basic;
  font-size: 18px;
  padding-top: 30px;
  background-color: $light-green;
}

.listHeader{

  display: flex;;
  justify-content: space-between;
  align-items: center;

}


.fa-plus-square-o {
  display: flex;
  justify-content: center;
}

.fa-plus-square-o:hover {
  background-color: yellow;
}

.listItem {
  display: flex;;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  word-break: break-all;
}

.listItem:hover {
  background-color: $dark-green;
  border-radius: 10px;
}

.listButtons {
  display: flex;
  justify-content: space-between;
  width: 40px;
}

.fa-pencil-square-o {

  display: flex;
  justify-content: center;
}

.fa-pencil-square-o:hover{
  background-color: $light-green;
}



.fa-minus-square-o {
  display: flex;
  justify-content: center;

}

.fa-minus-square-o:hover{
  background-color: red;
}

.modalTitle {
  font-family: $basic;
  font-size: 30px;
}

.modalLable {
  font-family: $basic;
  font-size: 20px;
  padding-top: 30px;
}

.modalForm {
  padding-top: 20px;
}

.modalDiv {
  width: 400px;
}
.modalInput{
  font-family: $basic;
  border: 3px solid black;
  border-radius: 7px;
  height: 40px;
  width: 100%;
  font-size: 24px;
  position: relative;
  background-color: white;
  text-align: center;
}

.modalButton {
  font-family: $basic;
  display: flex;
  background-color: $dark-green;
  height: 40px;
  width: 100%;
  color: $yellow;
  border: 3px solid black;
  border-radius: 7px;
  justify-content: center;
  font-size: 24px;
  margin-top: 20px;
}

.modalButton:disabled {
  background-color: $light-grey;
  color: $dark-grey;
}
