

.login-signup {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  background-color: white;
  height: 60px;
}

.header-group {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  background-color: white;
  height: 60px;
}

.login-buttons {
  display: flex;
  font-size: 20px;
  padding-right: 30px;
}

.login:hover {
  background-color: grey;


}

.signin:hover {
  background-color: grey;
}

.comb {
  height: 54px;
  width: 54px;
  padding-left: 30px;
  padding-top: 3px;

}
