

.login-signup {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  background-color: white;
  height: 60px;
}

.header-group {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  background-color: white;
  height: 60px;
}

.login-buttons {
  display: flex;
  font-size: 20px;
  padding-right: 30px;
  align-items: center;
}

.login {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  width: 75px;
}

.signin {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  width: 75px;
}

.demo {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  width: 75px;
}

.login:hover {
  background-color: $light-green;


}

.signin:hover {
  background-color: $light-green;
}

.demo:hover {
  background-color: $light-green;
}

.comb {
  height: 54px;
  width: 54px;
  padding-left: 30px;
  padding-top: 3px;

}
