@media all and (min-width: 1381px) {
  .login-page {
    display: flex;
    justify-content: center;
    // height: 100%;
    height: 100vh;
    background: url("https://res.cloudinary.com/data4015/image/upload/v1484267697/login_page2_bvxr5h.jpg") no-repeat center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     flex-direction: column;
     align-items: center;

  }
}

@media all and (max-width: 1380px) {
  .login-page {
    display: flex;
    justify-content: center;
    // height: 100%;
    height: 92vh;
    background: url("https://res.cloudinary.com/data4015/image/upload/v1484267697/login_page2_bvxr5h.jpg") no-repeat center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     flex-direction: column;
     align-items: center;

  }
}

@media all and (min-width: 1381px) {
  .login-form-container {
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 45px;
    margin-top: 30px;
    justify-content: space-around;
    background-color: $cream;
    border-radius: 15px;
    opacity: 1;
  }
}

@media all and (max-width: 1380px) {
  .login-form-container {
    display: flex;
    flex-direction: column;
    height: 440px;
    padding: 45px;
    margin-top: 20px;
    justify-content: space-around;
    background-color: $cream;
    border-radius: 15px;
    opacity: 1;
  }
}

.login-form-box {

  display: flex;
  flex-direction: column;
  width: 325px;

}

.login-input {
  font-family: $basic;
  display: flex;
  justify-content: space-between;
  border: 3px solid black;
  border-radius: 7px;
  height: 40px;
  font-size: 24px;
  position: relative;
  background-color: white;
  padding-left: 15px;
}

.redirect {
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding-top: 20px;
}
.login-comb-div {
  display: flex;
  justify-content: center;
  padding-top: 20px
}

.login-comb {
  height: 54px;
  width: 54px;
}

.green-div{
  background: url("https://res.cloudinary.com/data4015/image/upload/v1484267695/comb_nw70fl.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  height: 75px;
  width: 75px;
}

.green-div:hover {
  cursor: pointer;
  background-image: url("https://res.cloudinary.com/data4015/image/upload/v1484267695/combs_green_nxqrvi.png");
}
// .login-comb-green {
//   z-index: -1;
//   height: 54px;
//   width: 54px;
// }
// .login-comb:hover {
//   color: $dark-green;
//   height: 54px;
//   width: 54px;
// }

.login-button {
  font-family: $basic;
  display: flex;
  background-color: $button;
  height: 40px;
  color: $yellow;
  border: 3px solid black;
  border-radius: 7px;
  justify-content: center;
  font-size: 24px;
}

.login-button:hover {
  background-color: $light-green;
}


.errorMessage {
  font-family: $basic;
  background-color: red;
  font-size: 20px;
}
