.splash {
  height: 100%;
  min-height: 100vh;
  background-image: url("http://res.cloudinary.com/data4015/image/upload/v1484267695/bee3_bozlgz.jpg")
  // background-image: url("http://res.cloudinary.com/data4015/image/upload/c_crop,h_860,w_1905,x_0,y_99/v1484334838/honey-do_fntp5x.jpg");

}

.logo {
  // display: none;
  font-size: 110px;
  // font-size: 0px;
  padding-left: 48px;
  padding-top: 30px;
  color: $yellow;
}

.logo2 {
  // display: none;
  font-size: 60px;
  // font-size: 0px;
  padding-left: 307px;
  padding-top: 407px;
  color: $yellow;
}
