.splash {
  background-image: url("bee.jpg");
  height: 100vh;
}

.logo {
  font-size: 84px;
  padding-left: 48px;
  padding-top: 30px;
  color: $yellow;
}

.logo2 {
  font-size: 60px;
  padding-left: 160px;
  padding-top: 175px;
  color: $yellow;
}
