.splash {
  height: 100%;
  min-height: 100vh;
  background-image: url("http://res.cloudinary.com/data4015/image/upload/v1484267695/bee3_bozlgz.jpg")

}

.logo {
  font-size: 110px;
  padding-left: 48px;
  padding-top: 30px;
  color: $yellow;
}

.logo2 {
  font-size: 60px;
  padding-left: 307px;
  padding-top: 407px;
  color: $yellow;
}
